{% include 'incl/header.twig' %}

<body>
    {% include 'incl/nav.twig' %}

    <div class="main" role="main">
        <div class="gallery-page">
            {{ content }}
        </div>
        <div class="galvid">
            <iframe title="Ten facts about siberian cats." src="https://www.youtube.com/embed/2JMNCGcLdPM" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
    
    {% include 'incl/footer.twig' %}
</body>

</html>
