.header,

.site-header {
    display: flex;
    justify-content: space-between;
}

.header {
    flex: 0 0 auto;
    background-color: $accent-color;
    border-bottom: 1px solid rgb(0, 0, 0);
}

.title,

.logo {
    padding: 3em 3em 3em 1em;
}

@media (max-width: 767px) {
    .title,
    .logo {
        padding: 1em 1em 1em 0.5em;
    }

    .title {
        min-width: 50%;
    }
    
    .logo {
        max-width: 30%;
    }
}

.title {
    align-self: center;
}

.title * {
    color: #111;
}

.title h1 {
    margin: 0;
}

.title p {
    font-style: italic;
}

.nav a:hover {
    text-decoration: none;
    color: rgb(255, 255, 255);
}
