@media (max-width: 970px) {
    .tech-sidebar {
        display: none;
    }

    .technology-content {
        pre {
            white-space: pre-wrap;
            word-break: break-all;
        }
    }
}
