$font-color: #333;
$font-alternative-color: #fff;
$header-font: 'Roboto', sans-serif;
$text-font: 'Lora', serif;

$base-line-height: 1.4;
$base-font-size: 1.25rem;
$magic-number: $base-line-height * $base-font-size;

$accent-color: #9dd3ee;
$background-color: #fff1e8;
$background-alternative-color: #e0fbfc;
