.analysis-img {
    margin-bottom: $magic-number;
    border: 1px solid $border-color;
}

.analysis-color {
    margin: 0 auto;
    margin-bottom: $magic-number;
    border-spacing: 4px;
    border-collapse: separate;

    td {
        border: 1px solid $border-color;
    }
}
