.header,

.site-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header {
    flex: 0 0 auto;
    background-color: $background-alt-color;
    border-bottom: 1px solid $border-color;
}

.title,

.logo {
    padding: 0.5em 1em;
}

@media (max-width: 767px) {
    .title,
    .logo {
        padding: 1em 1em 1em 0.5em;
    }

    .title {
        min-width: 50%;
    }
    
    .logo {
        max-width: 30%;
    }
}

.title a {
    text-decoration: none;
}

.title * {
    color: $nav-color;
}

.title h1 {
    margin: 0;
}

.title p {
    font-style: italic;
}

.nav a {
    font-family: $header-font;
    text-decoration: underline;
    text-decoration-thickness: 0.2rem;
    text-underline-position: under;
}

.nav a:hover {
    text-decoration: none;
    color: $hover-color;
}
