.header,

.site-header {
    display: flex;
    justify-content: space-between;
}

.header {
    flex: 0 0 auto;
    background-color: transparent;
}

.title,

.logo {
    padding: 0.5em 1em;
}

@media (max-width: 767px) {
    .title,
    .logo {
        padding: 1em 1em 1em 0.5em;
    }

    .title {
        min-width: 50%;
    }
    
    .logo {
        max-width: 30%;
    }
}

.title {
    align-self: center;
}

.title * {
    color: $header-color;
}

.title h1 {
    margin: 0;
}

.title p {
    font-style: italic;
}

.nav li a {
    color: $font-color;
}

.nav a:hover {
    text-decoration: none;
    color: $hover-color;
}
