$header-font: 'Roboto', sans-serif;
$text-font: 'Lora', serif;

$base-line-height: 1.4;
$base-font-size: 1.25rem;
$magic-number: $base-line-height * $base-font-size;

$font-color: #dbe5f0;
$font-alternative-color: #ed9b07;
$hover-color: #a21fed;
$header-color: #ed9b07;
$nav-color: #ed9b07;
$background-color: #18394e;
$background-alt-color: #112431;

$border-color: #fff;

$shadow: rgba(0, 0, 0, 0.5);

//Filter variables
$highlight: brightness(120%);
$photofilter: brightness(85%) contrast(115%);
