$font-color: #b9c2d5;
$font-alternative-color: #333;
$header-font: 'Roboto', sans-serif;
$text-font: 'Lora', serif;

$base-line-height: 1.4;
$base-font-size: 1.25rem;
$magic-number: $base-line-height * $base-font-size;

$hover-color: #576c99;
$header-color: #7490cc;
$background-alt-color: #43464d;
$background-color: #2c364d;

$border-color: #333;

$shadow: rgba(0, 0, 0, 0.5);

//Filter variables
$highlight: brightness(120%);
$photofilter: brightness(85%) contrast(115%);

/*
--monochromatic color scheme--
$Color1: #2C364D; - background
$Color2: #B9C2D5; - font
$Color3: #7490CC; - headers
$Color4: #43464D; - footer
$Color5: #576C99; - hover
*/
