$header-font: 'Roboto', sans-serif;
$text-font: 'Lora', serif;

$base-line-height: 1.4;
$base-font-size: 1.25rem;
$magic-number: $base-line-height * $base-font-size;

$font-color: #333;
$font-alternative-color: #ed9b07;
$hover-color: #a21fed;
$header-color: #253785;
$nav-color: #253785;
$background-color: #faebc6;
$background-alt-color: #ffbc57;


$border-color: #000;

$shadow: rgba(0, 0, 0, 0.2);

//Filter variables
$highlight: brightness(120%);
$photofilter: brightness(100%) contrast(100%);
